.page-header
  %h1 Event

%p#notice= notice

%p
  %b Event Type:
  = @event.event_type
%p
  %b Story:
  = link_to @event.story, story_path(@event.story)
%p
  %b Date:
  = @event.date

= link_to 'Modify', edit_event_path(@event)
