.page-header
  %h1 Listing stories

%table.table.table-striped
  %tr
    %th Headline
    %th Link
    %th # Events
    %th Date
    %th Outlets
    %th
    %th
    %th

  - @stories.each do |story|
    %tr
      %td= truncate story.headline
      %td= truncate story.link_for_display
      %td= story.events.count
      %td= story.date_for_display
      %td= story.outlets.map {|o| o.name}.join(", ")
      %td= link_to 'Show', story
      %td= link_to 'Modify', edit_story_path(story)
      %td= link_to 'Remove', story, :confirm => 'Are you sure?', :method => :delete

%br

.ul.nav-pills.nav
  %li
    = link_to new_story_path do
      %span.icon.icon-plus
      Add new story
