.page-header
  %h1 Listing stories

%table.table.table-striped
  %tr
    %th Headline
    %th Link
    %th Slug
    %th Date
    %th Outlets
    %th
    %th
    %th

  - @stories.each do |story|
    %tr
      %td= story.headline
      %td= story.link
      %td= story.slug
      %td= story.date
      %td= story.outlets.map {|o| o.name}.join(", ")
      %td= link_to 'Show', story
      %td= link_to 'Edit', edit_story_path(story)
      %td= link_to 'Destroy', story, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Story', new_story_path
