= javascript_include_tag "storyjs-embed"

- if not @story.events_with_dates.empty?
  .row
    .span1
    .span10
      <div id="timeline-embed"></div>
      :javascript
        $(document).ready(function(){
          createStoryJS({
              type:       'timeline',
              width:      '970',
              height:     '400',
              source:     '#{timeline_path(@story)}',
              embed_id:   'timeline-embed'
          });
        });
    .span1

%br
%br
%br
%br
%h2= @story.headline

%table.table.table-striped.narrow-th
  %tr 
    %th Link
    %td= link_to @story.link_for_display, @story.link, rel: 'nofollow'
  %tr
    %th Slug
    %td= @story.slug
  %tr
    %th Date
    %td= @story.date_for_display
  %tr
    %th Outlets
    %td
      != @story.outlets.map {|o| link_to o.name, outlet_path(o)}.join(", ")
  %tr
    %th Events
    %td
      %ol
        - @story.events.each do |e|
          %li
            = link_to e.to_s, event_path(e)
      
      .ul.nav-pills.nav
        %li
          = link_to new_event_path(@story) do
            %span.icon.icon-plus
            Add event

.ul.nav-pills.nav
  %li
    = link_to edit_story_path(@story) do
      %span.icon.icon-edit
      Modify story
