- if not @story.events_with_dates.empty?
  .row
    .span1
    .span10
      <div id="timeline-embed"></div>
      :javascript
        $(document).ready(function(){
          createStoryJS({
              type:       'timeline',
              width:      '970',
              height:     '400',
              source:     '#{timeline_path(@story)}',
              embed_id:   'timeline-embed'
          });
        });
    .span1

%p
  %b Headline:
  = @story.headline
%p
  %b Link:
  = link_to @story.link_for_display, @story.link, rel: 'nofollow'
%p
  %b Slug:
  = @story.slug
%p
  %b Date
  = @story.date_for_display
%p
  %b Outlets:
  = @story.outlets.map {|o|o.name}.join(", ")
%p 
  %b Events:
  %ul.nav.nav-stacked
    - @story.events.each do |e|
      %li
        = link_to e.to_s, event_path(e)


  = link_to 'Add event', new_event_path(@story)

= link_to 'Modify', edit_story_path(@story)
