%p#notice= notice

%p
  %b Headline:
  = @story.headline
%p
  %b Link:
  = @story.link
%p
  %b Slug:
  = @story.slug
%p
  %b Date:
  = @story.date
%p
  %b Outlets:
  = @story.outlets.map {|o|o.name}.join(", ")

= link_to 'Modify', edit_story_path(@story)
\|
= link_to 'All stories', stories_path
