%p#notice= notice

%p
  %b Headline:
  = @story.headline
%p
  %b Link:
  = @story.link
%p
  %b Slug:
  = @story.slug
%p
  %b Date:
  = @story.date
%p
  %b Outlets:
  = @story.outlets.map {|o|o.name}.join(", ")
%p 
  %b Events:
  %ul
  - @story.events.each do |e|
    %li= e


= link_to 'Add event', new_event_path(@story)
\|
= link_to 'Modify', edit_story_path(@story)
\|
= link_to 'All stories', stories_path
